/* Remove all padding and margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}
.navBar {
  height: 100px;
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  align-items: center; /* Vertically center the items */
  padding: 10px;
  background-color: rgba(187, 182, 204, 0.346);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  /* Add transition to make the animation smooth */
  transition: all 0.2s ease;
  /* Add box shadow for the initial state without hover */
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.logo:hover {
  filter: drop-shadow(0 0 1em #0d0d0d);
  height: 6.5em;
}

/* Style the heading */
.heading {
  margin-left: 10px; /* Add some space between the image and the heading */
  font-size: 24px; /* Adjust the font size as needed */
}



/* Default styles for the grid */
.main-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 10px; /* Add spacing between grid items */
}

/* Additional styling for grid items */
.grid-item {
  background-color: #f0f0f0;
  padding: 0px;
  border-radius: 5px;
}

/* Media queries to adjust the grid layout based on screen size */

/* For screens with a minimum width of 600px (2 rows) */
@media (min-width: 600px) {
  .main-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For screens with a minimum width of 1000px (3 rows) */
@media (min-width: 1000px) {
  .main-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}



.card-overview small {
  color: var(--sl-color-neutral-500);
}

.card-overview [slot='footer'] {
  display: flex;
}
.preview-image{
  max-width: 110px;
}

.preview-image-container { grid-area: photo; }
.preview-body { 
  grid-area: main; 
  padding-left: 15px
}
.preview-footer { 
  grid-area: footer;
  padding-left: 15px }

.grid-container {
  display: grid;
  grid-template-areas:
    'photo main main '
    'photo footer footer';
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
}